.App {
  text-align: center;
}

.AppLogo {
  height: 60px;
}

.AppHeader {
  background-color: #222;
  height:  60px;
  padding: 10px;
  color: white;
}

.AppIntro {
  font-size: large;
}

.AppLinks {
  font-size: large;
}
